#about {
	background-color: #fff;
}

.about-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem 8rem;
	gap: 2rem;
}

.about-heading h1 {
	font-size: 3rem;
	font-weight: 500;
	font-family: inherit;
	margin: 0px;
}
.about-heading {
	padding-top: 3rem;
	text-align: center;
}

.about-points-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.about-list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.about-list-item-topic {
	font-size: 1.5rem;
	font-weight: 600;
	color: #616161;
}

.about-list-item-tag {
	font-size: 1rem;
	color: #616161;
}
/* 
.about-list-item-img {
	background-color: yellow;
	padding: 1.5rem;
} */

.about-list-item-img {
	background-color: #3498db;
	border-radius: 50%;
}

.about-list-item-img div {
	display: flex;
	width: 6rem;
	height: 6rem;
	align-items: center;
	justify-content: center;
}

.about-personal-info {
	display: flex;
	align-items: top;
	justify-content: space-between;
	gap: 3rem;
	padding: 2rem 4rem;
}
.about-personal-img {
	width: 25rem;
}

.about-personal-skills {
	display: flex;
	/* background-color: #616161; */
	padding: 0px;
	margin: 0px;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 0px;
	padding: 0px;
}

.content-btn {
	margin-top: 10px;
	border: 2px solid black;
	background-color: #fff;
	color: inherit;
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 0.7rem 0.5rem;
	cursor: pointer;
	transition: all 0.2s;
	border-radius: 2px;
}

.content-btn:hover {
	color: #fff;
	border: 2px solid #3498db;
	background-color: #3498db;
}

@media screen and (max-width: 950px) {
	.about-wrapper {
		padding: 2rem;
	}
	.about-points-list {
		flex-direction: column;
	}
	.about-personal-info {
		flex-direction: column;
		align-items: center;
	}
	.about-personal-img {
		width: 10rem;
	}
	.about-points-list {
		padding: 0;
	}
	.about-personal-content h1 {
		text-align: center;
	}
	.about-personal-content p {
		text-align: justify;
	}
}
