html {
	scroll-behavior: smooth;
}
body {
	background-color: #252934;
	padding: 0rem;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
