:root {
	--color1: #113946;
	--color2: #bca37f;
	--color3: #ead7bb;
	--color4: #fff2d8;
	--color5: #f4dfc8;
}

body {
	background-color: #f4dfc8;
	padding: 0rem 15rem;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/* NAVBAR */

.navbar-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: green; */
	padding: 0rem 0.2rem;
}
.navbar-link-list {
	display: flex;
	align-items: center;
	/* justify-content: flex-end; */
	gap: 2rem;
	font-size: 1.1rem;
	font-weight: 500;
}
.navbar-logo {
	max-width: 2.5rem;
	height: auto;
}

.navbar-link-list li {
	padding: 0.2rem;
	border-radius: 0.5rem;
	transition: all 0.2s;
}
.navbar-link-list li:hover {
	background-color: #113946;
	color: #f4dfc8;
	scale: 1.1;
}
.navbar-link-list li a:hover {
	color: #f4dfc8;
}


/* LANDING */


#toTopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
    border: none;
    background-color: #f4dfc8;
}

#toTopBtn img {
	width: 50px;
	height: auto;
}
